body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:64px;
  width:1351px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1341px;
  top:79px;
  width:120px;
  height:38px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:181px;
  top:93px;
  width:181px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:395px;
  top:66px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u7 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:521px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u9 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:646px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u11 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:772px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u13 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:898px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u15 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:140px;
  top:138px;
  width:1351px;
  height:42px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:42px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:694px;
  top:126px;
  width:37px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:423px;
  top:146px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:540px;
  top:146px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:435px;
  top:298px;
  width:375px;
  height:667px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u25 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:435px;
  top:332px;
  width:375px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u27 {
  position:absolute;
  left:435px;
  top:298px;
  width:375px;
  height:52px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:440px;
  top:315px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:586px;
  top:325px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:437px;
  top:301px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:450px;
  top:320px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:596px;
  top:444px;
  width:60px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:435px;
  top:494px;
  width:375px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u40 {
  position:absolute;
  left:450px;
  top:520px;
  width:60px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:586px;
  top:381px;
  width:53px;
  height:53px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:584px;
  top:464px;
  width:84px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:460px;
  top:528px;
  width:27px;
  height:16px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:460px;
  top:552px;
  width:330px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u49 {
  position:absolute;
  left:460px;
  top:572px;
  width:27px;
  height:16px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:460px;
  top:596px;
  width:330px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u52 {
  position:absolute;
  left:460px;
  top:643px;
  width:330px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u53 {
  position:absolute;
  left:460px;
  top:616px;
  width:27px;
  height:16px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:460px;
  top:690px;
  width:330px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u56 {
  position:absolute;
  left:460px;
  top:663px;
  width:53px;
  height:16px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
