body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:288px;
  width:375px;
  height:822px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:822px;
}
#u1 {
  position:absolute;
  left:2px;
  top:403px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:322px;
  width:375px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u3 {
  position:absolute;
  left:320px;
  top:337px;
  width:375px;
  height:140px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u4 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:320px;
  top:288px;
  width:375px;
  height:52px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:325px;
  top:305px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:471px;
  top:312px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:477px;
  top:435px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:722px;
  top:312px;
  width:294px;
  height:12px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:12px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:322px;
  top:291px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:341px;
  top:540px;
  width:133px;
  height:128px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:128px;
}
#u18 {
  position:absolute;
  left:2px;
  top:56px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:494px;
  top:552px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:614px;
  top:660px;
  width:60px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:523px;
  top:660px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:320px;
  top:683px;
  width:375px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u26 {
  position:absolute;
  left:333px;
  top:311px;
  width:22px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  height:1px;
}
#u27 {
  position:absolute;
  left:333px;
  top:321px;
  width:22px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  height:1px;
}
#u28 {
  position:absolute;
  left:662px;
  top:307px;
  width:10px;
  height:20px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:20px;
}
#u29 {
  position:absolute;
  left:658px;
  top:311px;
  width:20px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:3px;
}
#u30 {
  position:absolute;
  left:494px;
  top:578px;
  width:180px;
  height:59px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:59px;
}
#u31 {
  position:absolute;
  left:0px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:341px;
  top:698px;
  width:133px;
  height:128px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:128px;
}
#u33 {
  position:absolute;
  left:2px;
  top:56px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:494px;
  top:710px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:614px;
  top:818px;
  width:60px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:523px;
  top:818px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:320px;
  top:844px;
  width:375px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u41 {
  position:absolute;
  left:494px;
  top:736px;
  width:180px;
  height:59px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:59px;
}
#u42 {
  position:absolute;
  left:0px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:341px;
  top:864px;
  width:133px;
  height:128px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:128px;
}
#u44 {
  position:absolute;
  left:2px;
  top:56px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:494px;
  top:876px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:614px;
  top:984px;
  width:60px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:523px;
  top:984px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:494px;
  top:902px;
  width:180px;
  height:59px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:59px;
}
#u52 {
  position:absolute;
  left:0px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:317px;
  top:1030px;
  width:375px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u54 {
  position:absolute;
  left:140px;
  top:64px;
  width:1351px;
  height:80px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u55 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1341px;
  top:79px;
  width:120px;
  height:38px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:181px;
  top:93px;
  width:181px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:395px;
  top:66px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u61 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:521px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u63 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:646px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u65 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:772px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u67 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:898px;
  top:65px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u69 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:140px;
  top:138px;
  width:1351px;
  height:42px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:42px;
}
#u71 {
  position:absolute;
  left:2px;
  top:13px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:694px;
  top:126px;
  width:37px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:423px;
  top:146px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u75 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:540px;
  top:146px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:320px;
  top:510px;
  width:375px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u79 {
  position:absolute;
  left:320px;
  top:510px;
  width:193px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:4px;
  width:193px;
  height:3px;
}
#u80 {
  position:absolute;
  left:364px;
  top:487px;
  width:60px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:571px;
  top:487px;
  width:60px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:760px;
  top:288px;
  width:375px;
  height:1142px;
  color:#999999;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1142px;
}
#u85 {
  position:absolute;
  left:2px;
  top:563px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:760px;
  top:337px;
  width:375px;
  height:140px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u87 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:760px;
  top:288px;
  width:375px;
  height:52px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:911px;
  top:312px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:917px;
  top:435px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:762px;
  top:291px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:773px;
  top:311px;
  width:22px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  height:1px;
}
#u97 {
  position:absolute;
  left:773px;
  top:321px;
  width:22px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:22px;
  height:1px;
}
#u98 {
  position:absolute;
  left:1102px;
  top:307px;
  width:10px;
  height:20px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u98_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:20px;
}
#u99 {
  position:absolute;
  left:1098px;
  top:311px;
  width:20px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:3px;
}
#u100 {
  position:absolute;
  left:760px;
  top:510px;
  width:375px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u101 {
  position:absolute;
  left:942px;
  top:510px;
  width:193px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:4px;
  width:193px;
  height:3px;
}
#u102 {
  position:absolute;
  left:804px;
  top:487px;
  width:60px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1011px;
  top:487px;
  width:60px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:469px;
  top:1050px;
  width:100px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:898px;
  top:541px;
  width:79px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0000FF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:780px;
  top:574px;
  width:338px;
  height:32px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:32px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:781px;
  top:632px;
  width:76px;
  height:16px;
  color:#AEAEAE;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:847px;
  top:631px;
  width:10px;
  height:18px;
}
#u114_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u114_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u114_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u115 {
  position:absolute;
  left:861px;
  top:633px;
  width:60px;
  height:16px;
  color:#AEAEAE;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1070px;
  top:617px;
  width:60px;
  height:16px;
  color:#0000FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:890px;
  top:701px;
  width:79px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0000FF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:772px;
  top:736px;
  width:338px;
  height:32px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:32px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:790px;
  top:968px;
  width:76px;
  height:16px;
  color:#AEAEAE;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:856px;
  top:967px;
  width:10px;
  height:18px;
}
#u125_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u125_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u125_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u126 {
  position:absolute;
  left:870px;
  top:969px;
  width:60px;
  height:16px;
  color:#AEAEAE;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1050px;
  top:934px;
  width:60px;
  height:16px;
  color:#0000FF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:760px;
  top:678px;
  width:375px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u131 {
  position:absolute;
  left:772px;
  top:788px;
  width:187px;
  height:142px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:142px;
}
#u132 {
  position:absolute;
  left:2px;
  top:63px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:760px;
  top:994px;
  width:375px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u134 {
  position:absolute;
  left:896px;
  top:1014px;
  width:79px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0000FF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:778px;
  top:1049px;
  width:338px;
  height:48px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:48px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:796px;
  top:1281px;
  width:76px;
  height:16px;
  color:#AEAEAE;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:862px;
  top:1280px;
  width:10px;
  height:18px;
}
#u140_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u140_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u140_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:18px;
}
#u141 {
  position:absolute;
  left:876px;
  top:1282px;
  width:60px;
  height:16px;
  color:#AEAEAE;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1056px;
  top:1260px;
  width:60px;
  height:16px;
  color:#0000FF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:778px;
  top:1107px;
  width:187px;
  height:142px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:142px;
}
#u146 {
  position:absolute;
  left:2px;
  top:63px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:760px;
  top:1320px;
  width:375px;
  height:10px;
}
#u147_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u148 {
  position:absolute;
  left:1159px;
  top:289px;
  width:375px;
  height:667px;
  color:#999999;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u149 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1159px;
  top:338px;
  width:375px;
  height:140px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u151 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1159px;
  top:289px;
  width:375px;
  height:52px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u153 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1310px;
  top:313px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1316px;
  top:436px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1161px;
  top:292px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u159 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1501px;
  top:308px;
  width:10px;
  height:20px;
}
#u160_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u160_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u160_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:20px;
}
#u161 {
  position:absolute;
  left:1497px;
  top:312px;
  width:20px;
  height:10px;
}
#u161_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:3px;
}
#u162 {
  position:absolute;
  left:1170px;
  top:312px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1892px;
  top:282px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1746px;
  top:275px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:2074px;
  top:280px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1300px;
  top:501px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1170px;
  top:544px;
  width:155px;
  height:1px;
  color:#A1A1A1;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:1px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1170px;
  top:580px;
  width:291px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1170px;
  top:621px;
  width:291px;
  height:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1170px;
  top:660px;
  width:338px;
  height:32px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:32px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1170px;
  top:702px;
  width:198px;
  height:138px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:138px;
}
#u181 {
  position:absolute;
  left:2px;
  top:61px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1580px;
  top:289px;
  width:375px;
  height:667px;
  color:#999999;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u183 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1580px;
  top:338px;
  width:375px;
  height:140px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u185 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1580px;
  top:289px;
  width:375px;
  height:52px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u187 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1731px;
  top:313px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1737px;
  top:436px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1582px;
  top:292px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u193 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1922px;
  top:308px;
  width:10px;
  height:20px;
}
#u194_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u194_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u194_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:20px;
}
#u195 {
  position:absolute;
  left:1918px;
  top:312px;
  width:20px;
  height:10px;
}
#u195_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_line {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  height:3px;
}
#u196 {
  position:absolute;
  left:1591px;
  top:312px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1721px;
  top:501px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:1591px;
  top:544px;
  width:155px;
  height:1px;
  color:#A1A1A1;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:1px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1591px;
  top:580px;
  width:291px;
  height:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1591px;
  top:621px;
  width:291px;
  height:16px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1591px;
  top:660px;
  width:338px;
  height:48px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:48px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:1591px;
  top:718px;
  width:198px;
  height:138px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:138px;
}
#u209 {
  position:absolute;
  left:2px;
  top:61px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
