body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:141px;
  top:44px;
  width:1351px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1342px;
  top:59px;
  width:120px;
  height:38px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:73px;
  width:181px;
  height:24px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:396px;
  top:46px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u7 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:522px;
  top:45px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u9 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:647px;
  top:45px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u11 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:773px;
  top:45px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
}
#u13 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:141px;
  top:118px;
  width:1351px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:695px;
  top:106px;
  width:37px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:424px;
  top:126px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:541px;
  top:126px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:434px;
  top:297px;
  width:375px;
  height:625px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u23 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:435px;
  top:332px;
  width:375px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u25 {
  position:absolute;
  left:434px;
  top:298px;
  width:375px;
  height:52px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:440px;
  top:315px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:592px;
  top:445px;
  width:60px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:437px;
  top:301px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:434px;
  top:387px;
  width:375px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u34 {
  position:absolute;
  left:586px;
  top:322px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:440px;
  top:315px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:440px;
  top:366px;
  width:119px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:451px;
  top:407px;
  width:119px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:451px;
  top:480px;
  width:59px;
  height:58px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:58px;
}
#u43 {
  position:absolute;
  left:2px;
  top:21px;
  width:55px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:521px;
  top:480px;
  width:57px;
  height:54px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u45 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:435px;
  top:545px;
  width:375px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u47 {
  position:absolute;
  left:449px;
  top:707px;
  width:60px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:529px;
  top:708px;
  width:131px;
  height:16px;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:451px;
  top:587px;
  width:60px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:449px;
  top:785px;
  width:60px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:529px;
  top:785px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:434px;
  top:904px;
  width:375px;
  height:53px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u58 {
  position:absolute;
  left:449px;
  top:748px;
  width:60px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:529px;
  top:748px;
  width:131px;
  height:16px;
  color:#CCCCCC;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:522px;
  top:571px;
  width:268px;
  height:32px;
  color:#CCCCCC;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:32px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:531px;
  top:613px;
  width:176px;
  height:84px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:84px;
}
#u65 {
  position:absolute;
  left:2px;
  top:34px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:601px;
  top:627px;
  width:60px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:843px;
  top:132px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:960px;
  top:132px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:853px;
  top:338px;
  width:375px;
  height:625px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u73 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:854px;
  top:338px;
  width:375px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u75 {
  position:absolute;
  left:854px;
  top:304px;
  width:375px;
  height:52px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u76 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:859px;
  top:322px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:856px;
  top:308px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1005px;
  top:328px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:859px;
  top:322px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:941px;
  top:484px;
  width:199px;
  height:196px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:196px;
}
#u86 {
  position:absolute;
  left:2px;
  top:90px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:853px;
  top:910px;
  width:375px;
  height:53px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u88 {
  position:absolute;
  left:762px;
  top:317px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:44px;
  top:300px;
  width:375px;
  height:667px;
  color:#999999;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u91 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:106px;
  top:780px;
  width:70px;
  height:63px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u93 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:266px;
  top:780px;
  width:70px;
  height:63px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u95 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:118px;
  top:854px;
  width:60px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:256px;
  top:853px;
  width:103px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:210px;
  top:889px;
  width:20px;
  height:33px;
  font-size:28px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:41px;
  top:990px;
  width:375px;
  height:625px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u103 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:41px;
  top:991px;
  width:375px;
  height:52px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u105 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:44px;
  top:994px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:41px;
  top:1080px;
  width:375px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u109 {
  position:absolute;
  left:193px;
  top:1015px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:47px;
  top:1008px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:41px;
  top:1597px;
  width:375px;
  height:53px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u114 {
  position:absolute;
  left:369px;
  top:1010px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:58px;
  top:1058px;
  width:60px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:58px;
  top:1104px;
  width:60px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:369px;
  top:1102px;
  width:22px;
  height:19px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:58px;
  top:1149px;
  width:60px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:41px;
  top:1128px;
  width:375px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u125 {
  position:absolute;
  left:43px;
  top:1170px;
  width:375px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u126 {
  position:absolute;
  left:56px;
  top:1190px;
  width:144px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:41px;
  top:1211px;
  width:375px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u129 {
  position:absolute;
  left:56px;
  top:1225px;
  width:144px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:41px;
  top:1246px;
  width:375px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u132 {
  position:absolute;
  left:56px;
  top:1262px;
  width:144px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:41px;
  top:1283px;
  width:375px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u135 {
  position:absolute;
  left:56px;
  top:1303px;
  width:184px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:41px;
  top:1324px;
  width:375px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u138 {
  position:absolute;
  left:41px;
  top:1424px;
  width:375px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u139 {
  position:absolute;
  left:56px;
  top:1344px;
  width:154px;
  height:16px;
  color:#A1A1A1;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:350px;
  top:1408px;
  width:60px;
  height:16px;
  color:#A1A1A1;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:56px;
  top:1444px;
  width:60px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:56px;
  top:1475px;
  width:90px;
  height:84px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:84px;
}
#u146 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:83px;
  top:1488px;
  width:48px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:57px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:134px;
  top:250px;
  width:189px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:449px;
  top:1024px;
  width:375px;
  height:625px;
  color:#999999;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u152 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:450px;
  top:990px;
  width:375px;
  height:52px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u154 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:452px;
  top:994px;
  width:373px;
  height:12px;
  color:#FFFFFF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
}
#u156 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:601px;
  top:1014px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:455px;
  top:1008px;
  width:60px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:537px;
  top:1170px;
  width:199px;
  height:196px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:196px;
}
#u162 {
  position:absolute;
  left:2px;
  top:90px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:449px;
  top:1596px;
  width:375px;
  height:53px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
